// -----------------------------------------------------------------------------
// Estilos de los botones
// -----------------------------------------------------------------------------
.button {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 10px 30px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $default-text-color;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  color: $color-secondary;
  background-color: transparent;
  border-color: $color-gray-200;
  border-radius: 50rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-transform: capitalize;

  &:hover {
    color: $color-white;
    background-color: $color-primary;
    border-color: $color-primary;
  }
}
